<?xml version='1.0' encoding='utf-8'?>
<widget id="com.2lingua.sentencechef" version="1.0.0">
    <name>SentenceChef</name>
    <description>
        Learn the French partitif.
    </description>
    <author email="dev@2lingua.com" href="http://www.2lingua.com">
        2Lingua LLC
    </author>
    <content src="home.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <preference name="Orientation" value="landscape" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
