body { 
	color:white;
	text-align:center; 
	font-family:Chalkduster,helvetica; 
	background-image:url(../img/chalkboard-black.jpg);   
	-webkit-background-size: cover; 
} 

h1, h2, h3, h4, h5 { color: white; }

#backtogame {
	color: white;
	position: fixed;
	top: 80px;
	left: 10px;
	text-align: center;
	font-size: 0.8em;
	-webkit-transition: all 500ms ease-in;
}

a {
	color: white;	
}

a:link, a:visited { 
	text-decoration: none;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	opacity:0.95;
}

.french {
	color: cyan;
}

.english {
	color: white;
}
