body { 
	color:white;
	text-align:center; 
	font-family:Chalkduster,helvetica; 
	background-image:url(../img/chalkboard-black.jpg); 
	-webkit-background-size: cover;
	background-size: cover;
} 

button { font-size:16px; }

.creators { 
	font-size: 0.8em; 
	float: left;
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.creators { font-size: 1.5em; width: 70%; clear: both; margin: auto;}
	#myscreen { padding: 40px;}
}
